<% include partials/header %>

<div class="loginContainer">
    <h1>Velkommen til min TodoApp!</h1>
    <hr>
    <p>Laget ved hjelp av Node.js</p>
    <% if(!currentUser) { %>
        <a href="/login">Logg inn for å fortsette</a>
    <% } else { %>
        <a href="/todo">Gå til mine Todos</a>
    <% } %>
    
</div>  

<% include partials/footer %>