<% include partials/header %>

<div class="container">
    <h1>Velkommen til min TodoApp!</h1>
    <hr>
    <p>Alt her laget i Node.js</p>
    <a href="/login">Logg inn for å fortsette</a>
</div>  

<% include partials/footer %>