<% include partials/header %>

<div class="loginContainer">

<form action="/register" method="POST" class="userForm">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Registrer">
</form>

</div>

<% include partials/footer %>