<% include ../partials/header %>

<div class="container">
    <h1>Todo List</h1>

    <form action="/todo" method="POST">
        <input type="text" name="item" placeholder="Legg til ny todo">
        <input type="submit" value="Legg til">
    </form>

    <!-- List of todos -->
    <div class="row">
        <ul>
            <% todos.forEach(function(todos){ %>
                <li> <%= todos.name %> - <%= todos.author.username %></li>
            <% }) %> 
        </ul>
    </div>


</div>

<% include ../partials/footer %>
