<% include ../partials/header %>

<div class="todo">
    <h1>Todo List</h1>

    <form action="/todo" method="POST" class="form">
        <input type="text" name="item" placeholder="Legg til ny todo" required>
        <button type="submit"> <i class="fa fa-plus"></i></button>
    </form>

    <!-- List of todos -->
        <ul>
            <% todos.forEach(function(todos){ %>

                <li> <span data-id="<%= todos._id %>">  <i class="fa fa-trash"></i>  </span> <%= todos.name %></li>
                
            <% }) %> 
        </ul>


</div>




    <!-- <span>
        <form action="/todos/:<%= todos._id %>?_method=DELETE" method="post">
            <button type="submit"> <i class="fa fa-trash"></i></button>
        </form>
    </span>
    <%= todos.name %> -->

<% include ../partials/footer %>
